- title "Templates List"

= link_to 'Back', reports_path, class: "back-btn"

%h4 Please, choose template!

- unless @templates.empty?
	- @templates.each do |template|
		%p= link_to template.title, "#{new_report_path}?template=#{template.id}"
- else
	%h4 Template does not exist!